*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    padding: 8px 0;
    width: 100%;
    background-color: deepskyblue;
    height: 4rem;
}
.container{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;

}
.container h1{
    color: #FFF;
    font-size: 2.2rem ;
}
header .container{
    display: flex;
    justify-content: space-between;

    align-items: center;
}
header nav ul {
    display: flex;
   
}
header nav ul li{
    padding: 0px 8px;
}
header nav ul li a{
    color: #fff;
    font-weight: bold;
}
header nav ul li a:hover{
    color: rgb(5, 133, 218);
}

section{
    margin: 32px 0;
}

section .description h2{
    color: deepskyblue;
    width: 100%;
    margin-bottom: 16px;
}

section#sobre div.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3%;
    

}
section#sobre .container img{
    width: 100%;
}

section#produtos div img{
width: 100%;
object-fit: contain;
max-height: 150px;
}

 #produtos .grid{
    
    padding: 16px 0;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   column-gap: 2%;
   row-gap: 2%;
}
 a {

    color: deepskyblue; 
    text-align: center;
}
#produtos .grid .product{

padding: 8px 0;
border: 1px solid  deepskyblue ;

}
#produtos{
    width: 100%;
}
#produtos h2{
    width: 100%;
}

#produtos h2{
    width: 100%;
    text-align: center;
    margin: 0;
    color: deepskyblue  ;
}

.product p{
    padding: 4px;
    font-size: 0.8rem;
    margin-top: 10px;
    color: #000;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product button{
    width: 80%;
    padding: 10px;
    background-color: deepskyblue ;
    color: #fff;
    border: 0;
    font-size: 1rem;
    margin: 10px 0;
    cursor: pointer;
    
}


@media screen and (max-width: 1024px){
    .container{
        max-width: 90%;

    }
    section#sobre div.container{
        display: block;
    
    }
    section#sobre .container img{
        width: 100%;
        margin-bottom: 16px;
    }
    #produtos h2{
        width: 100%;
        text-align: center;
        margin: 16px 0;
    
        font-size: 2.5rem;
        color: deepskyblue  ;
    }
    
    .product p{
        padding: 4px;
        font-size: 1rem;
        margin-top: 10px;
        color: #000;
    }
    .product h3{
        font-size: 2rem;
    }
    section .description h2{
        color: deepskyblue;
        width: 100%;
        font-size: 2.5rem;
        margin-bottom: 16px;
    }
    section#produtos div img{
        max-width: 90%;
        object-fit: contain;
        max-height: 250px;
        }
        
         #produtos .grid{
            
            padding: 16px 0;
           display: grid;
           grid-template-columns: 1fr 1fr ;
           column-gap: 2%;
           row-gap: 2%;
        }
}




@media screen and (max-width: 640px){
    .container{
        width: 90%;
    
    }
    
section#sobre div.container{
    display: block;

}
section#sobre .container img{
    width: 100%;
    margin-bottom: 16px;
}

.product img{

    min-height: 350px;
    max-width: 90%;
    object-fit: contain;
    }

#produtos .grid{
    
    padding:  0;
   display: grid;
   grid-template-columns: 1fr ;
   row-gap: 2%;
}

#produtos h2{
    width: 100%;
    text-align: center;
    margin: 16px 0;

    font-size: 2.2rem;
    color: deepskyblue  ;
}

.product p{
    padding: 4px;
    font-size: 1rem;
    margin-top: 10px;
    color: #000;
}
.product h3{
    font-size: 1.8rem;
}
section .description h2{
    color: deepskyblue;
    width: 100%;
    font-size: 2.2rem;
    margin-bottom: 16px;
}


}